[submodule "perun-wallet-spec"]
	path = perun-wallet-spec
	url = git@github.com:perun-network/perun-wallet-spec
[submodule "test/devnet/contracts"]
	path = test/devnet/contracts
	url = https://github.com/perun-network/perun-ckb-contract.git
