# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# log files
*.log
/.vscode
/.idea

test/devnet/accounts
test/devnet/data
test/devnet/specs
test/devnet/ckb-miner.toml
test/devnet/ckb.toml
test/devnet/default.db-options
test/devnet/system_scripts